<div class="payment-container">
  <mat-card class="payment-card">
    <h2 class="payment-title">Complete Your Payment</h2>

    <!-- Stripe card input without mat-form-field -->
    <div class="stripe-card-element-container">
      <label for="card-element">Card Details</label>
      <div id="card-element" class="stripe-card-element"></div> <!-- Stripe card element -->
    </div>

    <div class="payment-amount">
      <p>Total Amount: $50.00</p>
    </div>

    <button mat-raised-button color="primary" (click)="checkout(5000)" [disabled]="isLoading">
      @if(isLoading) {
        <mat-spinner  diameter="20"></mat-spinner>
      }
      @else if(!isLoading){
      <span>Pay Now</span>
      }

    </button>

    <div class="error-message">
      @if(errorMessage) {
      <p>{{ errorMessage }}</p>
      }

    </div>
  </mat-card>
</div>